<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fsindustry.debussy.metaserver.topic.dao.MetaClusterMapper">
  <resultMap id="BaseResultMap" type="com.fsindustry.debussy.metaserver.topic.entity.MetaCluster">
    <id column="cluster_id" jdbcType="INTEGER" property="clusterId" />
    <result column="cluster_name" jdbcType="VARCHAR" property="clusterName" />
    <result column="cluster_desc" jdbcType="VARCHAR" property="clusterDesc" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="zk_addr" jdbcType="VARCHAR" property="zkAddr" />
    <result column="controller_broker" jdbcType="INTEGER" property="controllerBroker" />
    <result column="controller_epoch" jdbcType="INTEGER" property="controllerEpoch" />
    <result column="broker_count" jdbcType="INTEGER" property="brokerCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cluster_id, cluster_name, cluster_desc, region, zk_addr, controller_broker, controller_epoch, 
    broker_count, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaClusterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from meta_cluster
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from meta_cluster
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from meta_cluster
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaClusterExample">
    delete from meta_cluster
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaCluster">
    insert into meta_cluster (cluster_id, cluster_name, cluster_desc, 
      region, zk_addr, controller_broker, 
      controller_epoch, broker_count, create_time, 
      update_time)
    values (#{clusterId,jdbcType=INTEGER}, #{clusterName,jdbcType=VARCHAR}, #{clusterDesc,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{zkAddr,jdbcType=VARCHAR}, #{controllerBroker,jdbcType=INTEGER}, 
      #{controllerEpoch,jdbcType=INTEGER}, #{brokerCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaCluster">
    insert into meta_cluster
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        cluster_id,
      </if>
      <if test="clusterName != null">
        cluster_name,
      </if>
      <if test="clusterDesc != null">
        cluster_desc,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="zkAddr != null">
        zk_addr,
      </if>
      <if test="controllerBroker != null">
        controller_broker,
      </if>
      <if test="controllerEpoch != null">
        controller_epoch,
      </if>
      <if test="brokerCount != null">
        broker_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clusterId != null">
        #{clusterId,jdbcType=INTEGER},
      </if>
      <if test="clusterName != null">
        #{clusterName,jdbcType=VARCHAR},
      </if>
      <if test="clusterDesc != null">
        #{clusterDesc,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="zkAddr != null">
        #{zkAddr,jdbcType=VARCHAR},
      </if>
      <if test="controllerBroker != null">
        #{controllerBroker,jdbcType=INTEGER},
      </if>
      <if test="controllerEpoch != null">
        #{controllerEpoch,jdbcType=INTEGER},
      </if>
      <if test="brokerCount != null">
        #{brokerCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaClusterExample" resultType="java.lang.Long">
    select count(*) from meta_cluster
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update meta_cluster
    <set>
      <if test="record.clusterId != null">
        cluster_id = #{record.clusterId,jdbcType=INTEGER},
      </if>
      <if test="record.clusterName != null">
        cluster_name = #{record.clusterName,jdbcType=VARCHAR},
      </if>
      <if test="record.clusterDesc != null">
        cluster_desc = #{record.clusterDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null">
        region = #{record.region,jdbcType=VARCHAR},
      </if>
      <if test="record.zkAddr != null">
        zk_addr = #{record.zkAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.controllerBroker != null">
        controller_broker = #{record.controllerBroker,jdbcType=INTEGER},
      </if>
      <if test="record.controllerEpoch != null">
        controller_epoch = #{record.controllerEpoch,jdbcType=INTEGER},
      </if>
      <if test="record.brokerCount != null">
        broker_count = #{record.brokerCount,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update meta_cluster
    set cluster_id = #{record.clusterId,jdbcType=INTEGER},
      cluster_name = #{record.clusterName,jdbcType=VARCHAR},
      cluster_desc = #{record.clusterDesc,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR},
      zk_addr = #{record.zkAddr,jdbcType=VARCHAR},
      controller_broker = #{record.controllerBroker,jdbcType=INTEGER},
      controller_epoch = #{record.controllerEpoch,jdbcType=INTEGER},
      broker_count = #{record.brokerCount,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaCluster">
    update meta_cluster
    <set>
      <if test="clusterName != null">
        cluster_name = #{clusterName,jdbcType=VARCHAR},
      </if>
      <if test="clusterDesc != null">
        cluster_desc = #{clusterDesc,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="zkAddr != null">
        zk_addr = #{zkAddr,jdbcType=VARCHAR},
      </if>
      <if test="controllerBroker != null">
        controller_broker = #{controllerBroker,jdbcType=INTEGER},
      </if>
      <if test="controllerEpoch != null">
        controller_epoch = #{controllerEpoch,jdbcType=INTEGER},
      </if>
      <if test="brokerCount != null">
        broker_count = #{brokerCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fsindustry.debussy.metaserver.topic.entity.MetaCluster">
    update meta_cluster
    set cluster_name = #{clusterName,jdbcType=VARCHAR},
      cluster_desc = #{clusterDesc,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      zk_addr = #{zkAddr,jdbcType=VARCHAR},
      controller_broker = #{controllerBroker,jdbcType=INTEGER},
      controller_epoch = #{controllerEpoch,jdbcType=INTEGER},
      broker_count = #{brokerCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where cluster_id = #{clusterId,jdbcType=INTEGER}
  </update>
</mapper>